<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scale=no"
    />
    <title>Chat | Chat App</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
  </head>
  <body class="chat">
    <div class="chat__sidebar">
      <h3>People</h3>
      <div id="users"></div>
    </div>

    <div class="chat__main">
      <ol id="messages" class="chat__messages"></ol>

      <div class="chat__footer">
        <form id="message-form">
          <input
            type="text"
            name="message"
            placeholder="Enter your message"
            autofocus
            autocomplete="off"
          />
          <button>Send</button>
        </form>

        <button id="send-location">Send Location</button>
      </div>
    </div>

    <script id="message-template" type="text/template">
        <li class="message">
      <div class="message__title">
        <h4>{{from}}</h4>
        <span>{{createdAt}}</span>
      </div>
      <div class="message__body">
        <p>{{text}}</p>
      </div>
        </li>
    </script>

    <script id="location-message-template" type="text/template">
          <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>
      <a href="{{url}}" target="_blank">My Current Location</a>
          </p>
        </div>
          </li>
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/libs/deparam.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
  </body>
</html>
